body{
    background-color: blue;
    margin-left: 20px;
    margin-right: 100px;
    color: whitesmoke;
    margin-bottom: 20px;
}

h2{
    text-align: center;
}

img{
    height: 200px;
    margin-top: 20px;
}

ul{
    background-color: whitesmoke;
}